<div class="row">
  <div class="col-md-12">
    {{#unless categories}}
      <div class="col-md-12 text-center" style=" margin: 30px auto;">
        <h2>{{message}}</h2>
      </div>
    {{/unless}}

    <h2>Categories<a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
    <hr />

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Category ID</th>
            <th>Category Name</th>
          </tr>
        </thead>

        <tbody>
          {{#each categories}}
            <tr>
              <td><a href="/posts?category={{id}}">{{id}}</a></td>
              <td><a href="/posts?category={{id}}">{{category}}</a></td>
              <td><a class="btn btn-danger" href="/categories/delete/{{id}}">Remove</a></td>
            </tr>
          {{else}}
            <tr>
              <td>No Category Information</td>
            </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>
</div>